<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>SUDOKU</h1>
    <form action = "/" method = "POST">
        <div class = "game-space">
            <div class = "grid">

            {% for r in range(gridData|length) %}
            <div class = "grid-row">
                {% for c in range(gridData|length) %}
                    <input  class = "grid-cell" type = "number" value = {{ gridData[c][r] }} >
                {% endfor %}
            </div>
            {% endfor %}
            </div>
            <input type = "submit" value = "Check Answer">
        </div>
    </form>
</body>
</html>